@tailwind base;
@tailwind components;

@tailwind utilities;

.nav {
	z-index: 1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--eras-green: rgb(185,210,181);
	--eras-gold: rgb(244,203,141);
	--eras-purple: rgb(209,178,210);
	--eras-maroon: rgb(130,53,73);
	--eras-lblue: rgb(181,233,246);	
	--eras-pink: rgb(249,178,208);
	--eras-tan: rgb(200,174,149);
	--eras-grey: rgb(207,202,198);
	--eras-indigo: rgb(67,73,97);
	--eras-black:rgb(132,126,128);
	--era-taylor-swift: hsl(120,25%,71.8%);
	--era-taylor-swift-text: #315231;
	--era-fearless: hsl(35.1,77.6%,72%);
	--era-fearless-text: black;
	--era-speak-now: #C7A8CB;
	--era-speak-now-text:#513355;
	--era-red: hsl(351.3,45.2%,32.9%);
	--era-red-text: #e7c0c6;
	--era-1989:#B5E5F8;
	--era-1989-text:#0c5c7b;
	--era-reputation:hsl(0,0%,13.3%);
	--era-reputation-text: #dedddd;
	--era-lover:#F7B0CC;
	--era-lover-text:#750c35;
	--era-folklore:#a3a3a3;	
	/* old folklore CDC9C1 */
	--era-evermore:#C5AC90;
	--era-evermore-text:#382c1e;
	--era-midnights:hsla(222.9,32.7%,21%);
	--era-midnights-text:#c4cce1;
	--font-size-Aplus: 26px;
	--font-size-A: 24px;
	--font-size-B: 20px;
	--font-size-C: 18px;
	--font-size-D: 16px;
	--font-size-F: 14px;
}

.albums {
	max-height: 60px;
	margin: 6px;
	display: inline;
	cursor: pointer;
	border-radius: 50%;
}

.link{
	color: blue;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin: 10px;
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
	font-weight: bold;
}

p {
	margin: 10px
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
	justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
	cursor: pointer;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}


.eras_green{
	background-color: var(--eras-green);
}

.eras_gold{
	background-color: var(--eras-gold);
}

.eras_purple{
	background-color: var(--eras-purple);
}

.eras_maroon{
	background-color: var(--eras-maroon);
}

.eras_lblue{
	background-color: var(--eras-lblue);
}

.eras_pink{
	background-color: var(--eras-pink);
}

.eras_indigo{
	background-color: var(--eras-indigo);
}

.era-taylor-swift {
	fill: var(--era-taylor-swift);
	background-color: var(--era-taylor-swift);
	color: var(--era-taylor-swift-text);
}


.era-taylor-swift-gradeA, .era-taylor-swift-gradeAplus {
	fill: var(--era-taylor-swift);
	background-color: hsl(120,25.4%,60.6%);
	color: var(--era-taylor-swift-text);
	font-size: var(--font-size-A);
}

.era-taylor-swift-gradeB {
	font-size: var(--font-size-B);
	background-color: hsl(120,25.3%,64.3%, 0.85);
	color: var(--era-taylor-swift-text);
}

.era-taylor-swift-gradeC {
	font-size: var(--font-size-C);
	background-color: hsla(120,25%,71.8%, 0.8);
	color: var(--era-taylor-swift-text);
}

.era-taylor-swift-gradeD, .era-taylor-swift-gradeF {
	background-color: hsla(120,25%,71.8%, 0.6);
	color: var(--era-taylor-swift-text);
	font-size: var(--font-size-D);
}



.era-fearless {
	fill: var(--era-fearless);
	background-color: var(--era-fearless);
	color: var(--era-fearless-text);
}

.era-fearless-gradeA, .era-fearless-gradeAplus {
	fill: var(--era-fearless);
	background-color: hsl(34.7,77.4%,56.7%);
	color: var(--era-fearless-text);
	font-size: var(--font-size-A);
}

.era-fearless-gradeB {
	font-size: var(--font-size-B);
	background-color: hsla(35,77.2%,60.4%, 0.9);
	color: var(--era-fearless-text);
}

.era-fearless-gradeC {
	font-size: var(--font-size-C);
	background-color: hsla(35.1,77.6%,72%);
	color: var(--era-fearless-text);
}

.era-fearless-gradeD, .era-fearless-gradeF {
	background-color: hsla(35.1,77.6%,72%, 0.75);
	color: var(--era-fearless-text);
	font-size: var(--font-size-D);
}


.era-speak-now {
	fill: var(--era-speak-now);
	background-color: var(--era-speak-now);
	color: var(--era-speak-now-text);
}


.era-speak-now-gradeA, .era-speak-now-gradeAplus {
	fill: var(--era-speak-now);
	background-color: hsla(293.9,25.4%,37.8%);
	color: #decce1;
	font-size: var(--font-size-A);
}

.era-speak-now-gradeB {
	font-size: var(--font-size-B);
	background-color: hsla(292.2,25.2%,42%, 0.8);
	color: var(--era-speak-now-text);
}

.era-speak-now-gradeC {
	font-size: var(--font-size-C);
	background-color: hsla(293.1,25.2%,72.7%);
	color: var(--era-speak-now-text);
}



.era-speak-now-gradeD, .era-speak-now-gradeF {
	background-color: hsla(293.1,25.2%,72.7%, 0.8);
	color: var(--era-speak-now-text);
	font-size: var(--font-size-D);
}

.era-red {
	fill: var(--era-red);
	background-color: var(--era-red);
	color: var(--era-red-text);
}

.era-red-gradeA, .era-red-gradeAplus {
	fill: var(--era-red);
	background-color: var(--era-red);
	color: var(--era-red-text);
	font-size: var(--font-size-A);
}

.era-red-gradeB {
	font-size: var(--font-size-B);
	background-color: hsl(351.3,45.2%,32.9%, 0.85);
	color: var(--era-red-text);
}

.era-red-gradeC {
	font-size: var(--font-size-C);
	background-color: hsla(351.3,45.2%,32.9%, 0.7);
	color: var(--era-red-text);
}

.era-red-gradeD, .era-red-gradeF {
	background-color: hsla(351.3,45.2%,32.9%, 0.55);
	color: var(--era-red);
	font-size: var(--font-size-D);
}


.era-1989 {
	fill: var(--era-1989);
	background-color: var(--era-1989);
	/* background-color: rgb(158,226,243); */
	color: var(--era-1989-text);
}

.era-taylor-swift-skip, .era-fearless-skip, .era-speak-now-skip, .era-red-skip, .era-1989-skip, .era-reputation-skip, .era-lover-skip, .era-folklore-skip, .era-evermore-skip, .era-midnights-skip {
	font-size: 12px;
	color: black;
	background: rgba(179, 179, 179, 0.3);
}

.era-1989-gradeA, .era-1989-gradeAplus {
	fill: var(--era-1989);
	background-color: #8cd7f4;
	/* background-color: rgb(158,226,243); */
	color: var(--era-1989-text);
	font-size: var(--font-size-A);

}

.era-1989-gradeB {
	fill: var(--era-1989);
	background-color: #91d9f4;
	/* background-color: rgb(158,226,243); */
	color: var(--era-1989-text);
	font-size: var(--font-size-B);
	opacity: 0.8;
}

.era-1989-gradeC {
	fill: var(--era-1989);
	background-color: #b5e5f8;
	/* background-color: rgb(158,226,243); */
	color: var(--era-1989-text);
	font-size: var(--font-size-C);
	opacity: 0.8;
}

.era-1989-gradeD, .era-1989-gradeF {
	fill: var(--era-1989);
	background-color: #d7f1fb;
	/* background-color: rgb(158,226,243); */
	color: var(--era-1989-text);
	font-size: var(--font-size-D);
}



.era-reputation {
	fill: var(--era-reputation);
	background-color: var(--era-reputation);
	color: var(--era-reputation-text);
}

.era-reputation-gradeA, .era-reputation-gradeAplus {
	fill: var(--era-reputation);
	background-color: hsl(0,0%,13.3%);
	/* orig F7B0CC */
	color: var(--era-reputation-text);
	font-size: var(--font-size-A);
}

.era-reputation-gradeB {	
	font-size: var(--font-size-B);
	background-color: hsl(0,0%,13.3%, 0.85);
	color: var(--era-reputation-text);
}

.era-reputation-gradeC {
	font-size: var(--font-size-C);
	background-color: hsl(0,0%,13.3%, 0.7);
	color: var(--era-reputation-text);
}

.era-reputation-gradeD, .era-reputation-gradeF {
	background-color: hsl(0,0%,13.3%, 0.55);
	color: var(--era-reputation);
	font-size: var(--font-size-D);
}


.era-lover {
	fill: var(--era-lover);
	background-color: var(--era-lover);
	color: var(--era-lover-text);
}

.era-lover-gradeA, .era-lover-gradeAplus {
	fill: var(--era-lover);
	background-color: #f38cb5;
	/* orig F7B0CC */
	color: var(--era-lover-text);
	font-size: var(--font-size-A);
}

.era-lover-gradeB {
	opacity: 0.8;
	font-size: var(--font-size-B);
	background-color: #f59ec1;
	color: var(--era-lover-text);
}

.era-lover-gradeC {
	opacity: 0.8;
	font-size: var(--font-size-C);
	background-color: #f7b5d0;
	color: var(--era-lover-text);
}

.era-lover-gradeD, .era-lover-gradeF {
	background-color: #fad3e3;	
	color: var(--era-lover-text);
	font-size: var(--font-size-D);
}


.era-folklore {
	fill: var(--era-folklore);
	background-color: var(--era-folklore);
	color: var(--era-folklore-text);
}

.era-folklore-gradeA, .era-folklore-gradeAplus {
	fill: var(--era-folklore);
	background-color: #a0a0a0;
	/* orig  CDC9C1 */
	color: var(--era-folklore-text);
	font-size: var(--font-size-A);

}


.era-folklore-gradeB {
	opacity: 0.8;
	font-size: var(--font-size-B);
	background-color: #a3a3a3;
	color: var(--era-folklore-text);
}

.era-folklore-gradeC {
	opacity: 0.8;
	font-size: var(--font-size-C);
	background-color: #bdbdbd;
	color: var(--era-folklore-text);
}

.era-folklore-gradeD, .era-folklore-gradeF {
	background-color: #dbdbdb;	
	color: var(--era-folklore-text);
	font-size: var(--font-size-D);
}


.era-evermore {
	fill: var(--era-evermore);
	background-color: var(--era-evermore);
	color: var(--era-evermore-text);
}

.era-evermore-gradeA, .era-evermore-gradeAplus {
	fill: var(--era-evermore);
	background-color: #aa855c;
	opacity: 0.9;
	/*orig C5AC90 */
	color: var(--era-evermore-text);
	font-size: var(--font-size-A);
}

.era-evermore-gradeB {
	opacity: 0.8;
	font-size: var(--font-size-B);
	background-color: #b79876;
	color: var(--era-evermore-text);
}

.era-evermore-gradeC {
	opacity: 0.8;
	font-size: var(--font-size-C);
	background-color: #C5AC90;
	color: var(--era-evermore-text);
}

.era-evermore-gradeD, .era-evermore-gradeF {
	background-color: #e0d2c3;	
	color: var(--era-evermore-text);
	font-size: var(--font-size-D);
}


.era-midnights {
	fill: var(--era-midnights);
	background-color: var(--era-midnights);
	/* 242E47 */
	color: var(--era-midnights-text);
}


.era-midnights-gradeA, .era-midnights-gradeAplus {
	fill: var(--era-midnights);
	background-color: var(--era-midnights);
	color: var(--era-midnights-text);
	font-size: var(--font-size-A);
}

.era-midnights-gradeB {
	font-size: var(--font-size-B);
	background-color: hsla(222.9,32.7%,21%, 0.85);
	color: var(--era-midnights-text);
}

.era-midnights-gradeC {
	font-size: var(--font-size-C);
	background-color: hsla(222.9,32.7%,21%, 0.7);
	color: var(--era-midnights-text);
}

.era-midnights-gradeD, .era-midnights-gradeF {
	background-color: hsla(222.9,32.7%,21%, 0.55);	
	color: var(--era-midnights);
	font-size: var(--font-size-D);
}


/* split dark colors and light colors bc using HSL and opacity for one color */
.era-taylor-swift-gradeF, .era-fearless-gradeF, .era-midnights-gradeF, .era-red-gradeF {
	font-size: 12px;
	opacity: 0.85;
}

.era-speak-now-gradeF, .era-1989-gradeF, .era-reputation-gradeF, .era-lover-gradeF, .era-folklore-gradeF, .era-evermore-gradeF {
	font-size: 12px;
	opacity: 0.7;
}


.era-taylor-swift-gradeAplus, .era-fearless-gradeAplus, .era-speak-now-gradeAplus, .era-red-gradeAplus, .era-1989-gradeAplus, .era-reputation-gradeAplus, .era-lover-gradeAplus, .era-folklore-gradeAplus, .era-evermore-gradeAplus, .era-midnights-gradeplus  {
	font-weight: 700;
	font-size: var(--font-size-Aplus);
}



.faded{
	opacity: 0.4;
}
.not-selected {
	color: rgb(133,133,133);
}
.selected{
	border: black solid 2px;
}
.underline{
	text-decoration: underline;
}

.tv {
	border: var(--era-fearless) solid 3px;
	z-index: 2;
}


.btn { 
	min-width: 200px;
	padding:10px;
	margin: 10px;
}

.container{
	margin: 10px;
	padding: 10px
}

.leaderboardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* should i fix this width */
	/* min-width: 260px; */
	min-width: 305px;	
	max-width: 305px;
}

#lyricalViz, #top40Viz, #bottom40Viz, #cultTop40Viz, #spotifyscatter {
	display: block;
	margin: auto;
	/* position: relative; */
	padding-left: 5px;
	padding-right: 5px;
	width: 420px; 
	margin-top: 8px;
	/* height: 500px;     
	/*width: 75vw;*/
	/*height: 100%;*/        
	/* vertical-align: top; */
	overflow: visible;
	scroll-margin: 20px;
}

#spotifyscatter{
	width: 600px;
	height: 600px;
}

#top40VizAns, #bottom40VizAns, #cultTop40VizAns{
	display: block;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
	width: 420px; 
	margin-top: 8px;
	position:relative;
	z-index: -1;
}
.wrapper{
	margin-top: 80px;
	margin-bottom: 80px;
}


#top40Viz {
	/* IF ONLY ONE LYRIC NEEDS TO BE IN 2 LINES? */
	margin-top: -1224px;	
}

#bottom40Viz{
	/* not sure why this is diff from the other one */
	margin-top: -600px;
}

#cultTop40Viz{
	/* margin-top: -1224px;  for 40 songs*/
	margin-top: -774px;
}

.lyrics, .top40Lyrics, .bottom40Lyrics, .cultTop40Lyrics{
	display: block;	
	width: 100%;
	text-align: center;
	padding-bottom:3px;
	padding-top: 3px;
	transition: all 2s ease;
	z-index: 1;
	/* animation-name: billboard;
	animation-duration: 2s; */
}


.ans {
	display: block;	
	width: 100%;
	text-align: center;
	padding-bottom:3px;
	padding-top: 3px;
	/* animation-name: billboard;
	animation-duration: 2s; */
}

.top40Lyrics:hover, .bottom40Lyrics:hover, .cultTop40Lyrics:hover{
	transform: translate(300px, 0px);
}
.fadeline{
	color: black;
	background: rgba(179, 179, 179, 0.3);
}

/* @keyframes billboard {
	0% {
		transform: translateY(0)
	}
	50% {
		transform: translateY(50px);
	}
	100%{
		transform: translateY(100px);
	}
} */


/* not sure why but the album lyrics display needs padding on L/R side to */
.lyrics{
	padding-left: 5px;
	padding-right: 5px;

}
.legend{
	line-height: 1.5rem;
	padding-left:5px;
	padding-right:5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	cursor: pointer;
	min-width: 80px;
	text-align: center;
}

.jumpbox{
	margin-top: 90px;
}

/* ipad */
@media (max-width:768px){
	
	.jumpbox{
		margin-top:20px;
	}
    	
}
/*iphone 6/7/8 Plus -- should be max-width of 420 but making it smaller for browser/player header*/
@media (max-width:414px){
	#lyricalViz, #top40Viz, #bottom40Viz, #top40VizAns, #bottom40VizAns, #cultTop40VizAns, #cultTop40Viz, #spotifyscatter, .spotify{
		width: 400px;
	}

	.wrapper{
		margin-top: 50px;
		margin-bottom: 60px;
	}
	
	.jumpbox{
		margin-top:10px;
	}

	#spotifyscatter{
		height: 480px;
	}

	#top40Viz{
		/* have multiple lines that need to be on two lines */
		margin-top: -1272px;  
	}
	

	.btn { 
		min-width: 160px;
		margin: 10px;
	}

	.container{
		margin: 0px;
		padding:0px;
	}

	.leaderboardContainer{
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px
	}
}
/*iphone 6/7/8/X*/
@media (max-width:375px){
	.display{
		font-size: 1em;
	}
    
	#lyricalViz, #top40Viz, #bottom40Viz, #top40VizAns, #bottom40VizAns, #cultTop40VizAns, #cultTop40Viz, #spotifyscatter, .spotify{
		width:370px
	}
	
}
/*iphone 5s*/
@media (max-width:320px){
	.btn {
		min-width: 120px;
		margin: px
	}
  
	#lyricalViz, #top40Viz, #bottom40Viz, #top40VizAns, #bottom40VizAns, #cultTop40VizAns, #cultTop40Viz, #spotifyscatter, .spotify{
		width: 316px;
	}

	
}
/*if screen > 992 px*/
@media (min-width:768px){
}

